# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/

# LaTeX (auxiliares de compilación)
informe/*.aux
informe/*.log
informe/*.out
informe/*.toc
informe/*.synctex.gz

# Sistema
.DS_Store
Thumbs.db
